<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width" initial-scale=1.0>
        <title>Budget Brain Analysis</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <h1>Analysis</h1>
        <div>
            <h2>Spending By Category</h2>
            <img src="/charts/spending_by_category.png">
        </div>
        <div>
            <h2>Monthly Trend</h2>
            <img src="/charts/monthly_trend.png">
        </div>
    </body>
</html>